<div class="p-grid">
  <div class="p-col-10">
    <app-shopping-edit>

    </app-shopping-edit>
  </div>

</div>
<div *ngIf="ingredients.length > 0">
  <p-table [value]="ingredients">
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Amount</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
      <tr (click)="onEditListItem(rowIndex)">
        <td>{{product.name}}</td>
        <td>{{product.amount}}</td>
      </tr>
    </ng-template>

  </p-table>


</div>